.slick-slide > div {
  display: grid;
  margin: auto;
  place-items: center;
  width: 80%;
}
.slick-slide img {
  max-height: 45rem;
  border-radius: 0.75rem;
  max-width: 100%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.carousel {
  border: 0.025rem solid #301b3f;
  border-radius: 0.75rem;
  margin: 1rem;
  padding: 1rem;
  background: var(--glass);
  box-shadow: var(--glass-glow);
}
.carousel > h2 {
  margin: auto;
  max-width: fit-content;
}
@media (width <= 700px) {
  .card-about {
    grid-template-columns: 1fr;
  }
  .card-about > h2 {
    grid-column: 1;
  }
  img {
    object-fit: scale-down;
  }
  p {
    font-size: 150%;
  }
}
