.card-contact {
  display: grid;
  /* border: 0.025rem solid #301b3f;
  border-radius: 0.75rem; */
  margin: 1rem;
  padding: 1rem;
  /* background: var(--glass);
  box-shadow: var(--glass-glow); */
  z-index: 0;
  place-items: center;
  /* align-items: stretch; */
}
.formbox {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  background: var(--glass);
  margin: 1rem;
  padding: 2rem;
  align-self: center;
  align-items: center;
}
form {
  font-size: 2.2rem;
}
input {
  font-family: 'Source Sans 3', sans-serif;
  border-radius: 0.75rem;
  height: 3rem;
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}
textarea {
  font-family: 'Source Sans 3', sans-serif;
  height: 10vh;
  width: 30vh;
  border-radius: 0.75rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}
.message-box {
  display: flex;
  flex-direction: column;
}
@media (width <= 570px) {
  .formbox {
    scale: 80%;
  }
}
@media (width <= 500px) {
  .formbox {
    margin: -2.6rem;
  }
}
@media (width <= 400px) {
  .formbox {
    margin: none;
  }
  main{
    place-items: center;
    /* margin: auto; */
    margin-left: 5%;
  }
}

