.card-contact {
  display: grid;
  /* border: 0.025rem solid #301b3f;
  border-radius: 0.75rem; */
  margin: 1rem;
  padding: 1rem;
  /* background: var(--glass);
  box-shadow: var(--glass-glow); */
  z-index: 0;
  place-items: center;
  /* align-items: stretch; */
}
.formbox {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  background: var(--glass);
  margin: 1rem;
  padding: 2rem;
  align-self: center;
  align-items: center;
}
form {
  font-size: 2.2rem;
}
input {
  font-family: 'Source Sans 3', sans-serif;
  border-radius: 0.75rem;
  height: 3rem;
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}
textarea {
  font-family: 'Source Sans 3', sans-serif;
  height: 10vh;
  width: 30vh;
  border-radius: 0.75rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}
.message-box {
  display: flex;
  flex-direction: column;
}

.contact-button {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  /* padding: 0.6em 2em; */
  border: none;
  border-radius: var(--standardRadius);
  outline: none;
  width: 8rem;
  height: fit-content;
  cursor: pointer;
  margin-right: 0.75rem;
  color: var(--deepPurp);
  background: var(--taupe);
  cursor: pointer;
  position: relative;
  z-index: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.contact-button:hover:before {
  content: '';
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: var(--standardRadius);
  /* color: var(--taupe); */
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.contact-button:hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--taupe);
  color: var(--taupe);
  left: 0;
  top: 0;
  border-radius: var(--standardRadius);
}
@media (width <= 570px) {
  .formbox {
    scale: 80%;
  }
}
@media (width <= 500px) {
  .formbox {
    margin: -2.6rem;
  }
}
