.card-contact {
  display: grid;
  margin-top: 1rem;
  padding-top: 1rem;
  z-index: 0;
  place-items: center;
}
.formbox {
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem;
  background: var(--glass);
  margin: 1rem;
  padding: 2rem;
  align-self: center;
  align-items: center;
}
form {
  font-size: 1.75rem;
}
.contact-header {
  font-size: 2rem;
  margin-bottom: 1rem;
}
input {
  font-family: 'Source Sans 3', sans-serif;
  border-radius: 0.75rem;
  height: 3rem;
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 1.25rem;
}
textarea {
  font-family: 'Source Sans 3', sans-serif;
  height: 10vh;
  width: 40vh;
  border-radius: 0.75rem;
  padding: 0.5rem;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.message-box {
  display: flex;
  flex-direction: column;
}
@media (width <= 410px) {
  main {
    width: 95%;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }
  .formbox {
    margin-left: 0;
    margin-right: 0;
  }
}
