
.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.all-items {
  display: flex;
  align-items: center;
}
.person {
  top: 5rem;
  position: relative;
  max-width: 30rem;
  margin-inline: auto;
  --transform-speed: 250ms;
}
.person__container {
  aspect-ratio: 1/1.35;
  display: grid;
  align-items: end;
  border-radius: 0 0 100vw 100vw;
  overflow: hidden;
  transition: transform var(--transform-speed) ease-in-out;
}
.person__container:hover .person__img {
  transform: scale(1.1);
}
.person__circle {
  position: absolute;
  inset: auto 0 0;
  background-color: #15151500;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin-inline: auto;
  object-fit: cover;
  scale: 100%;
  border: solid 3px var(--deepPurpTansparent);
}
.person__img {
  position: relative;
  left: 0.2rem;
  z-index: 2;
  transform: var(--transform-speed) ease-in-out;
}
.yuki {
  color: var(--deepPurp);
  text-shadow: 1px 1px 5px white;
  position: relative;
  font-size: 4rem;
  border-radius: var(--standardRadius);
  max-width: fit-content;
  margin: auto;
  z-index: 3;
}

@media (width <= 820px) {
  .home-main {
    scale: 80%;
  }
}
@media (width <= 480px) {
  .home-main {
    scale: 70%;
  }
}
@media (width <= 400px) {
  .home-main {
    scale: 60%;
  }
}
