header {
  border: var(--borderWidth) solid var(--almostBlackTransparent);
  border-bottom-left-radius: var(--standardRadius);
  border-bottom-right-radius: var(--standardRadius);
  border-top: none;
  display: flex;
  justify-content: space-between;
  place-items: center;
  height: var(--headheight);
  width: 99.4%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: var(--glass);
  box-shadow: var(--glass-glow);
}
.logo {
  display: flex;
  place-items: center;
  background-color: var(--blueGray);
  scale: 90%;
  border-radius: 50%;
  border: 1px solid var(--almostBlack);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem;
  height: 3.25rem;
  width: 3rem;
}
.logo-text {
  scale: 90%;
}
.logo > a:link {
  text-decoration: none;
  color: var(--taupe);
}
.logo > a:visited {
  color: var(--taupe);
}
.nav-link {
  font-size: 1rem;
  font-weight: 600;
  border-radius: var(--standardRadius);
  width: fit-content;
  height: fit-content;
  margin-right: 1rem;

}

