header {
  border-bottom-left-radius: var(--standardRadius);
  border-bottom-right-radius: var(--standardRadius);
  border-top: none;
  display: flex;
  justify-content: space-between;
  place-items: center;
  height: var(--headheight);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  background: var(--glassInvert);
}
.logo {
  display: flex;
  place-items: center;
  background-color: var(--blueGray);
  scale: 90%;
  border-radius: 50%;
  border: 1px solid var(--almostBlack);
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem;
  height: 3.25rem;
  width: 3rem;
  color: var(--taupe);
}
.logo-text {
  scale: 90%;
}
nav {
  display: flex;
}
.nav-link {
  font-size: 1rem;
  font-weight: 600;
  border-radius: var(--standardRadius);
  width: fit-content;
  height: fit-content;
  margin-right: 1rem;
}

@media (width <= 590px) {
  .nav-link {
    margin-right: 0.25rem;
  }
}
@media (width <= 541px) {
  nav {
    display: flex;
    flex-direction: column;
  }
  header {
    height: var(--headheight) + 2rem;
  }
  .link-cluster {
    margin-bottom: 0.25rem;
    margin-right: 0.25rem;
  }
}
